@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background-rgb: 12, 12, 12;
  --border: 0, 0%, 17%;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

html {
  color-scheme: dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
